body {

  .contenedor2 {
    display: flex; 
    align-items: center; 
  }
  .texto-alineado2 {
    display: flex; 
    flex-direction: column;
    text-align: left; 
}

    .contenedor {
        display: flex; 
        align-items: center; 
      }
      .imagen-alineada {
        max-width: 200px; 
        margin-right: 20px; 
    }
    .texto-alineado {
        display: flex; 
        flex-direction: column; 
    }
    
    .text-start1 {
        color: blue;
        font-weight: bold; 
        
      }
     
            
      .text-start2 {
        color: blue;
        font-weight: bold; 
      }

      .text-start3 {
        color: blue;
        font-weight: bold; 
      }
      .text-start4 {
        color: blue;
        font-weight: bold; 
      }
      .text-start5 {
        color: blue;
        font-weight: bold; 
      }
      .text-start6 {
        color: blue;
        font-weight: bold; 
      }
      .text-start7 {
        color: blue;
        font-weight: bold; 
      }
      .text-start8 {
        color: blue;
        font-weight: bold; 
      }
      .text-start10 {
        color: blue;
        font-weight: bold; 
        text-align: right;
      }
      .text-start12 {
        text-align: right;
      }
      .text-start13 {
        text-align: right;
      }
      .text-start14 {
        text-align: right;
      }
      .text-start15 {
        text-align: right;
      }
      .text-start16 {
        text-align: right;
      }
      .text-start17 {
        text-align: right;
      }
      .text-start12 {
        text-align: right;
      }
      .text-start18 {
        text-align: right;
      }
      .text-start12 {
        text-align: right;
      }
      .text-start19 {
        text-align: right;
      }
      .rounded float-start {
        max-width: 200px;
        margin-right: 20px;
    }

    
    }



